
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Posts</h1>
        {% if posts %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="30%"> Title </th>
                  <th width="60%"> Content </th>
                    <th width="20%"> Date </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for post in posts %}
                <tr>
                  <td> {{ post.title }} </td>
                  <td> {{ post.content[:200] | safe }} ... </td>
                    <td>  {{ post.pub_date.strftime('%B %d, %Y') }}</td>
                  <td>
                    <a href="{{ url_for('admin.edit_post', id=post.id) }}">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_post', id=post.id) }}">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No posts have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_post') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Post
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}